<div class="col-md-6 col-md-offset-3">
<h1>Welcome to our <br> ANAGRAM GENERATOR</h1>

<form action="/" method="post" class="form">
    <label for="word">Enter a word - ONLY 3 letters please!</label> <br>
  <input class="text-box" type="text" name="word"> <br>
  <input type="submit" class="btn"> <br>
</form>
</div>