<h1>Anagrams for <%= "#{@word}" %></h1>
<div class="show">
<ul class="show">
    <% if !@anagrams.nil? %>
        <% @anagrams.each do |anagram| %>
            <li class="show"> <a href=" <%= "/anagrams/#{anagram.text}" %>"><%= "#{anagram.text}" %></a>  </li>
        <% end %>
    <% end %>
</ul> 
</div>
