<h1>Anagrams for <%= "#{@word}" %></h1>
<div class="show">
<ul class="show">
    <% if !@anagrams.nil? %>
        <% @anagrams.each do |anagram| %>
            <li class="show"> <%= "#{anagram.text}" %>  </li>
        <% end %>
    <% end %>
</ul> 
</div>
